.dashboard {
  position: relative;
}
.price-chart{
  position: absolute;
  width: 55%;
  //width: 100%;
  height: 100%;
  margin: 0 25% 0 20%;
  background-color: green;
}
.trade-history {
  position: absolute;
  width: 20%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: red;
}
.oder-form {
  position: absolute;
  width: 25%;
  height: 100%;
  background-color: blue;
  right: 0;
  top: 0;
}
