#login {
  height: auto;
  position: fixed;
  padding: 200px 0px;
  width: 28%;
  top: 50%;
  right: 36%;
  vertical-align: middle;
  border-radius: 6px;
  text-align: center;
  .input {
    padding: 9px;
    border-radius: 4px;
    label {
      text-transform: uppercase;
      letter-spacing: .3em;
      height: 50%;
      padding: 10px;
      display: block;
    }
    input {
      width: 90%;
      height: 23px;
      border: 1.8px solid #b9b9b9;
    }
    button{
      width: 40%;
      height: 35px;
      background-color: white;
      color: #3e3e3e;
      letter-spacing: .1em;
      border: 2px solid #b9b9b9;
      margin-top: 30px;
      font-weight: bold;
      color: #686868;
    }
    button:hover {
      border: 2px solid teal;
      color: teal;
      transition: .5s;
    }
  }
}
