<div id="background">
  <form (ngSubmit)="loginUser()" id="login">
    <div class="input">
      <label>username</label>
      <input type="text" [(ngModel)]="userInfo.username" name="username">
    </div>
    <div class="input">
      <label>password</label>
      <input type="password" id="password" [(ngModel)]="userInfo.password" name="password">
    </div>
    <div class="input">
      <button full type="submit">GO</button>
    </div>
  </form>
</div>
